<h1>Sign Up Below:</h1>
<form action='/registrations' method='POST'>
<label for="name">User Name: </label>
<input id="name" type="text" name="name"><br>
<label for="email">Email: </label>
<input id="email" type="text" name="name"><br>
<label for="password">User Name: </label>
<input id="password" type="text" name="name"><br>
<input id="submit" type="submit" value="Submit">
</form>